
{{!-- <div class="container mt-3"> --}}
<div class="container mt-3">
  <section class="row" id="buttonbox">
    {{#each userdate}}
    <div class="col-sm-3 ">
      <div class="card mb-3" style="max-width: 30rem; max-height: 55rem">
      <div class="card-header h5"><p>{{bookname}}</p></div>
      <div class="card-body">
        <img id="cloudinary-img" class="mb-1" src={{url}} alt="">
        {{!-- <h5 class="card-title mb-1">{{bookname}}</h5> --}}
        <p class="h6">Author: {{author}}</p>
        <button id="checkbtn" class="btn btn-primary" data-number="{{id}}">Delete book</button>
      </div>
      </div>
    </div>
    {{/each}}
  </section>  
</div>
{{!-- </div> --}}


<script src="/js/mybooks.js"></script>