<div class="form-group">
    <label for="exampleFormControlSelect1">Category</label>
    {{!-- <select class="form-control" id="searchcategories">
      {{#each categories}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select> --}}
     <select class="form-control" id="searchcategories">
      <option>Horror</option>
      <option>Science Fiction</option>
      <option>Fantasy</option>
      <option>Comedy</option>
      <option>Adventure Story</option>
    </select>
</div>
<button class="btn btn-primary" id="searchform">Explore this category</button>


<section id="buttonbox">
{{#each userdate}}
<div class="card">
  <div class="card-header">
    Book
  </div>
  <div class="card-body">
    <img id="cloudinary-img" src={{url}} alt="">
    <h5 class="card-title">{{bookname}}</h5>
    <p class="card-text">{{author}}</p>
    <button id="checkbtn" class="btn btn-primary" data-number="{{id}}">Borrow this book</button>
  </div>
</div>
{{/each}}
</section>



<script src="/js/booksearch2.js"></script>